.wabutton{
    font-family: var(--text-font);
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    color: white;
    background-color: var(--primary-color);
    padding: 15px 20px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;

    &:hover{
        transform: scale(1.05);
    }
}
.waicon{
    font-size: 7rem;
    color: white;
}

@media (max-width: 768px){
    .wabutton{
        width: 100px;
        height: 100px;
        padding: 10px 15px;
    }
}