header{
    background-color: #eec688;
    width: 100%;
    padding: 10px 0;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menu-mobile{
    display: none;
}
header .container .logo img{
    width: 70px;
    height: 70px;
}
header .menu-desktop nav ul{
    display: flex;
    list-style: none;
    transition: 0.3s;
}
header .menu-desktop nav ul li{
    margin: 20px;
}
header .menu-desktop nav ul li:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
header .menu-desktop nav ul li a{
    color: #96451C;
    text-decoration: none;
    font-size: 1.5rem;
}
header .btn-contato a button{
    background-color: #96451C;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 15px 50px 15px 50px;
    cursor: pointer;
    transition: 0.3s;
}
header .btn-contato a button:hover{
    background-color: #EEC688;
    color: #96451C;
}