.menu_desktop{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;

    background-color: var(--tertiary-color);
    color: var(--primary-color);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}




/* Menu Mobile */

.menu_mobile{
    display: none;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: var(--tertiary-color);
}

.openMenu{
    font-size: 2.5rem;
    color: var(--primary-color);
    display: none;
}

.menumobile{
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    animation: showmenu 0.5s;
}

@keyframes showmenu{
    from{
        transform: translatex(100%);
    }
    to{
        transform: translatex(0%);
    }
}

.menumobile a{
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
    display: block;
    width: 100%;
    padding: 1rem 0 1rem 2rem;

    >svg{
        margin-right: 0.5rem;
    }
}

.menumobile a:hover{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.close{
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 11;
    transition: all 0.5s;
}

.close:hover{
    transform: rotate(90deg);
}


/* Responsividade Breack Point 768px */


@media (max-width: 768px){
    .header{
        justify-content: space-evenly;
    }

    .openMenu{
        display: block;
        cursor: pointer;
    }
    .menu_desktop{
        display: none;
    }
    .menu_mobile{
        display: flex;
    }
    .show{
        display: block;
    }

}