
.btn{
    background-color: var(--primary-color);
    border: none;
    color: var(--tertiary-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 1.2rem;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 10px 30px 10px 30px;
    cursor: pointer;

    &:hover{
        background-color: var(--quaternary-color);
        color: var(--primary-color);
    }
}