*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3 {
  font-family: var(--title-font);
}
p {
  font-family: var(--text-font);
}
a{
  text-decoration: none;
}

:root {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Berkshire Swash", serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --title-font: "Berkshire Swash", cursive;
  --text-font: "Josefin Sans", sans-serif;
  --primary-color: #4A1003;
  --secondary-color: #96451C;
  --tertiary-color: #EEC688;
  --quaternary-color: #167E9D;
  --text-color: #1f1f1f;
  --found-color: #E1E0E6;
}
