*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

:root {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Berkshire Swash", serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-color: #4A1003;
  --secondary-color: #96451C;
  --tertiary-color: #EEC688;
  --quaternary-color: #167E9D;
  --text-color: #1f1f1f;
  --found-color: #E1E0E6;
}
